<% include partials/head %>
	<body>
			<nav class="navbar navbar-default">
			  <div class="container">
				   <ul class="nav nav-pills">
				  		<li role="presentation" class="active"><a href="#">Inicio</a></li>
				  		<li role="presentation"><a href="#">Algo</a></li>
				  		<li role="presentation"><a href="#">Contacto</a></li>
					</ul>
			  </div>
			</nav>

			<div class="col-md-12 text-center">
					<img alt="" src="http://flybynet.net/publico/template/logo/flybynet-logotipo-4-2015-a.png">
				</div>
			<div class="jumbotron container text-center">

				<h2>Sistema en NodeJS.</h2>
				<p class="text-center">Simple Login y registro en NodeJS</p>
				<p class="text-center"><strong>por Fernando 2017</strong></p>
				<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"> Ingresar al Sistema</span></a>
				<a href="/registro" class="btn btn-default"><span class="fa fa-user"> Registrarse al Sistema</span></a>
			</div>

			
	
	</body>
</html>
